.DS_Store:
/.buildpath
/.cache
/.metadata
/.project
/.settings
/nbproject
/sitemap
/staging
/.htaccess.orig
/.idea
/app/config_sandbox
/app/etc/local.xml
/downloader/cache.cfg
/downloader/connect.cfg
/var/*
/.sass-cache/
.sass-cache
.DS_Store
/.DS_Store
/.php.ini.sample
/wordpress/wp-config.php
