
/* line 29, ../scss/gope/_reset-magento.scss */
.block-title h2, .block-title h3, .block-title strong {
  color: inherit;
}

/* line 37, ../scss/gope/_reset-magento.scss */
.no-touch .product-image:hover {
  border-color: initital;
}

/* line 43, ../scss/gope/_reset-magento.scss */
body .main-container {
  padding: 0;
}

/* line 47, ../scss/gope/_reset-magento.scss */
button, .button {
  background: #fed807;
}
/* line 50, ../scss/gope/_reset-magento.scss */
button:hover, .button:hover {
  background: #fed807;
}

/* line 55, ../scss/gope/_reset-magento.scss */
ul,
.std ul,
li,
.std ul li {
  margin: 0;
  padding: 0;
}

/* line 63, ../scss/gope/_reset-magento.scss */
.cms-page-view .std p,
.cms-no-route .std p {
  font-family: inherit;
  font-style: normal;
}

/* line 69, ../scss/gope/_reset-magento.scss */
.cms-page-view .std li,
.cms-no-route .std li {
  font-style: normal;
}

/* line 74, ../scss/gope/_reset-magento.scss */
.product-image-thumbs li:first-child {
  margin-left: 0;
}

/* line 78, ../scss/gope/_reset-magento.scss */
.breadcrumbs li,
.block-related .block-title h2,
label,
.button,
.cart-table .product-cart-actions .button,
#co-shipping-method-form .buttons-set .button,
.footer .button,
form .form-instructions,
.cart-table,
.cart-table .product-cart-sku,
.cart-table thead th,
.cart-table tbody td,
.block-title h2,
.block-title h3,
.block-title strong,
.block-progress dt,
.data-table tbody td,
.data-table tfoot td,
.data-table th,
.block-progress dd {
  font-family: inherit;
}

/* line 101, ../scss/gope/_reset-magento.scss */
.customer-account-login .col2-set .buttons-set button,
.customer-account-login .col2-set .buttons-set .button {
  min-width: 0;
}

/*----------------------------------------------------------------------------*/
/* Responsive
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Global
/*----------------------------------------------------------------------------*/
/* line 9, ../scss/gope/_responsive.scss */
html {
  font-size: 100%;
}

/*----------------------------------------------------------------------------*/
/* Update Magento default breakpoints here: ../_var.scss
/* Breakpoint mixin and width variables (no units).
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Images
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Font size and related styles. Use mixin to set all font sizes/styles.
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Helper Functions
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Helper Mixins
/*----------------------------------------------------------------------------*/
/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/*
 * Retina Backgrounds for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder.
 * 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder.
 * 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>)'
 */
/*----------------------------------------------------------------------------*/
/* Table
/*----------------------------------------------------------------------------*/
/*
    Standard table-less layouts. Apply mixin to container element. Use html from example layout links below.
    IDs changed to classes to allow multiple tables per page.
    Class names simplified to be more friendly.

    Table layouts for reference:
    2 column: http://www.dynamicdrive.com/style/layouts/category/C9/
    3 column: http://www.dynamicdrive.com/style/layouts/category/C10/
*/
/*----------------------------------------------------------------------------*/
/* CSS Fixed Layout #3.1- (Fixed-Fixed-Fixed)
/*----------------------------------------------------------------------------*/
/*
    http://www.dynamicdrive.com/style/layouts/item/css-liquid-layout-33-fluid-fluid-fluid/

    <div class="column-middle-container">
        <div class="column middle">
            Middle Column
        </div>
    </div>

    <div class="column left">
        Left Column
    </div>

    <div class="column right">
        Right Column
    </div>
*/
/*----------------------------------------------------------------------------*/
/* CSS Liquid Layout #2.2- (Fluid-Fixed)
/*----------------------------------------------------------------------------*/
/*
    http://www.dynamicdrive.com/style/layouts/item/css-liquid-layout-22-fluid-fixed/

    <div class="column-left-container">
        <div class="column left">
            Left Column
        </div>
    </div>

    <div class="column right">
        Right Column
    </div>
*/
/*----------------------------------------------------------------------------*/
/* Define project button mixins. Add/subtract/customize as needed by project.
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Standard button styles. In general, do not modify these.
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Button
/*----------------------------------------------------------------------------*/
/* line 191, ../scss/gope/_button.scss */
button, .button {
  background: #dc012f;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
}
/* line 197, ../scss/gope/_button.scss */
button:hover, .button:hover {
  background: #000;
}

/*----------------------------------------------------------------------------*/
/* Banner Enhanced (Home)
/*----------------------------------------------------------------------------*/
/* line 5, ../scss/gope/_banner-enhanced.scss */
.cms-home #banners-container {
  /*----------------------------------------------------------------------------*/
  /* Cycle Pager
  /*----------------------------------------------------------------------------*/
}
/* line 9, ../scss/gope/_banner-enhanced.scss */
.cms-home #banners-container .banners > .banner {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 1450px;
  padding: 0;
}
/* line 21, ../scss/gope/_banner-enhanced.scss */
.cms-home #banners-container .banners .navigation {
  position: absolute;
  z-index: 102;
  top: 25%;
  width: 47px;
  height: 108px;
  cursor: pointer;
}
/* line 30, ../scss/gope/_banner-enhanced.scss */
.cms-home #banners-container .banners .cycle-next {
  right: 0;
  background-image: url('../images/sprites-s28994334b4.png');
  background-position: 0 -10px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 108px;
  width: 47px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 30, ../scss/gope/_banner-enhanced.scss */
  .cms-home #banners-container .banners .cycle-next {
    background-image: url('../images/sprites2x-scc82e6df3b.png');
    background-size: 56px 412px;
    background-position: 0 -124px;
    height: 54px;
    width: 23.5px;
  }
}
/* line 35, ../scss/gope/_banner-enhanced.scss */
.cms-home #banners-container .banners .cycle-prev {
  left: 0;
  background-image: url('../images/sprites-s28994334b4.png');
  background-position: 0 -118px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 108px;
  width: 47px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 35, ../scss/gope/_banner-enhanced.scss */
  .cms-home #banners-container .banners .cycle-prev {
    background-image: url('../images/sprites2x-scc82e6df3b.png');
    background-size: 56px 412px;
    background-position: 0 0;
    height: 54px;
    width: 23.5px;
  }
}
/* line 45, ../scss/gope/_banner-enhanced.scss */
.cms-home #banners-container .cycle-pager {
  position: absolute;
  z-index: 102;
  bottom: 3.5%;
  width: 100%;
  text-align: center;
}
@media handheld, screen and (max-width: 639px) {
  /* line 45, ../scss/gope/_banner-enhanced.scss */
  .cms-home #banners-container .cycle-pager {
    bottom: 10%;
  }
}
/* line 56, ../scss/gope/_banner-enhanced.scss */
.cms-home #banners-container .cycle-pager span {
  margin-right: 0.15%;
  background-image: url('../images/sprites-s28994334b4.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 10px;
  width: 11px;
  display: inline-block;
  cursor: pointer;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 56, ../scss/gope/_banner-enhanced.scss */
  .cms-home #banners-container .cycle-pager span {
    background-image: url('../images/sprites2x-scc82e6df3b.png');
    background-size: 56px 412px;
    background-position: 0 -62px;
    height: 5px;
    width: 5.5px;
  }
}
/* line 62, ../scss/gope/_banner-enhanced.scss */
.cms-home #banners-container .cycle-pager span.cycle-pager-active {
  background-image: url('../images/sprites-s28994334b4.png');
  background-position: -11px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 10px;
  width: 11px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 62, ../scss/gope/_banner-enhanced.scss */
  .cms-home #banners-container .cycle-pager span.cycle-pager-active {
    background-image: url('../images/sprites2x-scc82e6df3b.png');
    background-size: 56px 412px;
    background-position: -6px -62px;
    height: 5px;
    width: 5.5px;
  }
}

/*----------------------------------------------------------------------------*/
/* Carousel
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Mixin
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Typography
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Product Grid
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Product List
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Global Mixins
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Messages
/*----------------------------------------------------------------------------*/
/* line 81, ../scss/gope/_global.scss */
.messages {
  /* success */
  /* error */
}

/*----------------------------------------------------------------------------*/
/* Breadcrumbs
/*----------------------------------------------------------------------------*/
/* line 93, ../scss/gope/_global.scss */
.breadcrumbs li {
  font-size: 12px;
  text-transform: capitalize;
  color: #A0A0A0;
}
/* line 98, ../scss/gope/_global.scss */
.breadcrumbs li span {
  padding: 0 5px;
}
/* line 102, ../scss/gope/_global.scss */
.breadcrumbs li a {
  color: #A0A0A0;
  font-weight: bold;
}
/* line 107, ../scss/gope/_global.scss */
.breadcrumbs li strong {
  color: #A0A0A0;
  font-weight: normal;
}

/*----------------------------------------------------------------------------*/
/* Forms, Input, Validation.
/*----------------------------------------------------------------------------*/
/* line 120, ../scss/gope/_global.scss */
.main input {
  height: 40px;
}
/* line 128, ../scss/gope/_global.scss */
.main select {
  height: 40px;
}
/* line 132, ../scss/gope/_global.scss */
.main textarea {
  max-width: none;
}
/* line 136, ../scss/gope/_global.scss */
.main label {
  font-size: 15px;
}
/* line 144, ../scss/gope/_global.scss */
.main ::-webkit-input-placeholder {
  color: #737373;
}
/* line 148, ../scss/gope/_global.scss */
.main :-moz-placeholder {
  /* Firefox 18- */
  color: #737373;
}
/* line 152, ../scss/gope/_global.scss */
.main ::-moz-placeholder {
  /* Firefox 19+ */
  color: #737373;
}
/* line 156, ../scss/gope/_global.scss */
.main :-ms-input-placeholder {
  color: #737373;
}

/*----------------------------------------------------------------------------*/
/* Global Styles
/*----------------------------------------------------------------------------*/
/* line 164, ../scss/gope/_global.scss */
.page-title h1 {
  border-bottom: 1px solid #000;
}

/* line 168, ../scss/gope/_global.scss */
.form-list .field, .form-list .wide, .form-list .control {
  margin-bottom: 20px;
}

/* remove default dotted border while focusing to a link */
/* line 173, ../scss/gope/_global.scss */
a:active,
a:focus,
*:focus {
  outline: none;
  color: inherit;
  noFocusLine: expression(this.onFocus=this.blur());
}

/* line 182, ../scss/gope/_global.scss */
.buttons-set {
  display: inline-block;
  width: 100%;
  margin: 30px 0px 0px;
  max-width: none;
  border-top: 1px solid #000;
}
/* line 189, ../scss/gope/_global.scss */
.buttons-set button.button {
  float: left;
  margin-left: 0px;
  width: 100%;
  padding: 15px 0px;
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 1, ../scss/gope/_homepage.scss */
.home-product {
  margin-top: 40px;
  position: relative;
  border-top: 1px solid #000;
  padding-top: 40px;
}
/* line 8, ../scss/gope/_homepage.scss */
.home-product .products-grid .actions {
  position: static;
}
/* line 12, ../scss/gope/_homepage.scss */
.home-product .products-grid .product-info {
  padding-bottom: 10px;
}
/* line 18, ../scss/gope/_homepage.scss */
.home-product.baju-kaos .page-title h2 {
  background: #dc012f;
}
/* line 23, ../scss/gope/_homepage.scss */
.home-product .page-title {
  position: relative;
}
/* line 26, ../scss/gope/_homepage.scss */
.home-product .page-title h2 {
  padding: 10px 20px;
  border: 0px;
  color: #fff;
  font-size: 17px;
}
/* line 32, ../scss/gope/_homepage.scss */
.home-product .page-title h2 a {
  color: #fff;
}
/* line 39, ../scss/gope/_homepage.scss */
.home-product .product-slide-nav .next, .home-product .product-slide-nav .prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  margin-top: -55px;
}
/* line 46, ../scss/gope/_homepage.scss */
.home-product .product-slide-nav .next {
  right: 0px;
}
/* line 48, ../scss/gope/_homepage.scss */
.home-product .product-slide-nav .next:after {
  content: '';
  background-image: url('../images/sprites-s28994334b4.png');
  background-position: 0 -226px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 117px;
  width: 56px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 48, ../scss/gope/_homepage.scss */
  .home-product .product-slide-nav .next:after {
    background-image: url('../images/sprites2x-scc82e6df3b.png');
    background-size: 56px 412px;
    background-position: 0 -178px;
    height: 117px;
    width: 56px;
  }
}
/* line 54, ../scss/gope/_homepage.scss */
.home-product .product-slide-nav .prev {
  left: 0px;
}
/* line 56, ../scss/gope/_homepage.scss */
.home-product .product-slide-nav .prev:after {
  content: '';
  background-image: url('../images/sprites-s28994334b4.png');
  background-position: 0 -343px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 117px;
  width: 56px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 56, ../scss/gope/_homepage.scss */
  .home-product .product-slide-nav .prev:after {
    background-image: url('../images/sprites2x-scc82e6df3b.png');
    background-size: 56px 412px;
    background-position: 0 -295px;
    height: 117px;
    width: 56px;
  }
}
/* line 64, ../scss/gope/_homepage.scss */
.home-product .products-grid .item {
  padding: 0px 10px;
}
/* line 68, ../scss/gope/_homepage.scss */
.home-product .products-grid .product-image {
  border: 0px;
}

/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/* line 4, ../scss/gope/_catalog.scss */
.std ul.products-grid {
  list-style-type: none;
}

/* line 8, ../scss/gope/_catalog.scss */
.products-grid {
  list-style-type: none;
  text-align: center;
}
/* line 12, ../scss/gope/_catalog.scss */
.products-grid > li {
  margin-bottom: 35px;
}
/* line 16, ../scss/gope/_catalog.scss */
.products-grid .product-name {
  font-size: 18px;
  margin-top: 10px;
}
/* line 21, ../scss/gope/_catalog.scss */
.products-grid .product-image {
  margin-bottom: 15px;
}
/* line 25, ../scss/gope/_catalog.scss */
.products-grid .price-box .price {
  color: #dc012f;
  font-weight: bold;
}

/* line 33, ../scss/gope/_catalog.scss */
body.catalog-category-view .category-title, body.catalogsearch-result-index .category-title {
  position: relative;
  height: 35px;
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 5px;
}
/* line 40, ../scss/gope/_catalog.scss */
body.catalog-category-view .category-title hr, body.catalogsearch-result-index .category-title hr {
  position: relative;
  width: 100%;
  top: 18px;
  border: 1px solid #9e9e9e;
  border-bottom: 0;
  margin: 0px;
}
/* line 49, ../scss/gope/_catalog.scss */
body.catalog-category-view .category-title h1, body.catalogsearch-result-index .category-title h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  position: relative;
  background-color: #FFFFFF;
  margin: 0 auto;
  line-height: 1;
  padding: 0 20px;
  display: inline-block;
  color: #000000;
  max-width: 80%;
}
/* line 65, ../scss/gope/_catalog.scss */
body.catalog-category-view .add-to-links, body.catalogsearch-result-index .add-to-links {
  display: none;
}

/*----------------------------------------------------------------------------*/
/* Filter
/*----------------------------------------------------------------------------*/
/* line 73, ../scss/gope/_catalog.scss */
.block-layered-nav .block-content > dl > dt {
  background: #000;
  color: #fff;
  font-weight: bold;
  border: 1px solid #000;
}
/* line 80, ../scss/gope/_catalog.scss */
.block-layered-nav .block-content > dl > dd {
  border-color: #000;
}
/* line 84, ../scss/gope/_catalog.scss */
.block-layered-nav #narrow-by-list dd .configurable-swatch-list li {
  width: 100%;
}

/*----------------------------------------------------------------------------*/
/* Toolbar
/*----------------------------------------------------------------------------*/
/* line 92, ../scss/gope/_catalog.scss */
.toolbar {
  background: #dc012f;
  padding: 5px 20px 0px 20px;
  border-radius: 5px;
}
/* line 97, ../scss/gope/_catalog.scss */
.toolbar .view-mode {
  display: none;
}
/* line 101, ../scss/gope/_catalog.scss */
.toolbar .pager .amount {
  color: #fff;
  font-weight: bold;
}
/* line 106, ../scss/gope/_catalog.scss */
.toolbar label {
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}

/* line 113, ../scss/gope/_catalog.scss */
.toolbar-bottom {
  display: none;
}

/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/* line 5, ../scss/gope/_pdp.scss */
.catalog-product-view .product-collateral {
  display: none;
}
/* line 10, ../scss/gope/_pdp.scss */
.catalog-product-view .product-img-box .product-image {
  border: 1px solid #000;
}
/* line 15, ../scss/gope/_pdp.scss */
.catalog-product-view .product-img-box .more-views h2 {
  display: none;
}
/* line 22, ../scss/gope/_pdp.scss */
.catalog-product-view .product-view .product-shop .product-name {
  display: inline-block;
  width: 100%;
  float: left;
}
/* line 27, ../scss/gope/_pdp.scss */
.catalog-product-view .product-view .product-shop .product-name .h1 {
  color: #000;
}
/* line 32, ../scss/gope/_pdp.scss */
.catalog-product-view .product-view .product-shop .price-info {
  width: 50%;
  float: left;
  display: inline-block;
  padding: 0px 20px;
  max-width: none;
  text-align: right;
}
/* line 41, ../scss/gope/_pdp.scss */
.catalog-product-view .product-view .product-shop .extra-info {
  display: inline-block;
  width: 100%;
}
/* line 46, ../scss/gope/_pdp.scss */
.catalog-product-view .product-view .product-shop .price-box {
  margin-bottom: 0px;
}
/* line 50, ../scss/gope/_pdp.scss */
.catalog-product-view .product-view .product-shop .price-box .regular-price .price, .catalog-product-view .product-view .product-shop .price-box .special-price .price, .catalog-product-view .product-view .product-shop .price-box .full-product-price .price {
  color: #dc012f;
  font-weight: bold;
}
/* line 55, ../scss/gope/_pdp.scss */
.catalog-product-view .product-view .product-shop .short-description {
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 61, ../scss/gope/_pdp.scss */
.catalog-product-view .product-view .product-options .swatch-attr label {
  font-size: 15px;
  margin-bottom: 5px;
}
/* line 66, ../scss/gope/_pdp.scss */
.catalog-product-view .product-options {
  border: 1px solid #000;
  border-bottom: 0px;
}
/* line 71, ../scss/gope/_pdp.scss */
.catalog-product-view .sharing-wrapper {
  display: inline-block;
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
  background: #f5f5f5;
}
/* line 78, ../scss/gope/_pdp.scss */
.catalog-product-view .sharing-wrapper label {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  margin-bottom: 10px;
}
/* line 92, ../scss/gope/_pdp.scss */
.catalog-product-view .product-view .sharing-links li {
  padding-bottom: 0px;
}
/* line 96, ../scss/gope/_pdp.scss */
.catalog-product-view .product-view .sharing-links li:first-child {
  padding-left: 0px;
}
/* line 102, ../scss/gope/_pdp.scss */
.catalog-product-view .product-options-bottom {
  background: transparent;
  border: 0px;
  padding: 0px;
}

/*----------------------------------------------------------------------------*/
/* Product Image
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Product Info
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Collateral Tabs
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Customer Review
/*----------------------------------------------------------------------------*/
/* line 5, ../scss/gope/_review.scss */
#customer-reviews {
  /* Start: Review List */
  /* End: Review List */
  /* Start: Form Review */
  /* End: Form Review */
}

/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Empty Cart
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Cart Table
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Cart Forms
/*----------------------------------------------------------------------------*/
/* Discount Form */
/* Shippng Form */
/*----------------------------------------------------------------------------*/
/* Totals
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Progress Bar
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* One Page Checkout (OPC) - Step 1 - Login
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Step 2 - Billing Address Form
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Step 3 - Shipping Address Form
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Step 4 - Shipping Method
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Step 5 - Payment Method
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Step 6 - Review
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Order Confirmation
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Multiple Addresses Checkout (MAC) - General
/*----------------------------------------------------------------------------*/
/* Progress */
/*----------------------------------------------------------------------------*/
/* MAC - New & Edit Address Form
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* MAC - Select Addresses
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* MAC - Select Shipping Method
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* MAC - Billing
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* MAC - Overview
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Login Page, and register, forgotpass
/*----------------------------------------------------------------------------*/
/* line 11, ../scss/gope/_customer.scss */
body.customer-account-login input[type=email], body.customer-account-login input[type=search], body.customer-account-login input[type=number], body.customer-account-login input[type=password], body.customer-account-login input[type=tel], body.customer-account-login input[type=text], body.customer-account-create input[type=email], body.customer-account-create input[type=search], body.customer-account-create input[type=number], body.customer-account-create input[type=password], body.customer-account-create input[type=tel], body.customer-account-create input[type=text], body.customer-account-forgotpassword input[type=email], body.customer-account-forgotpassword input[type=search], body.customer-account-forgotpassword input[type=number], body.customer-account-forgotpassword input[type=password], body.customer-account-forgotpassword input[type=tel], body.customer-account-forgotpassword input[type=text] {
  width: 100%;
}
/* line 15, ../scss/gope/_customer.scss */
body.customer-account-login .account-create, body.customer-account-login .account-login, body.customer-account-login .forgotpass-wrapper, body.customer-account-create .account-create, body.customer-account-create .account-login, body.customer-account-create .forgotpass-wrapper, body.customer-account-forgotpassword .account-create, body.customer-account-forgotpassword .account-login, body.customer-account-forgotpassword .forgotpass-wrapper {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}
/* line 20, ../scss/gope/_customer.scss */
body.customer-account-login .account-create .fieldset, body.customer-account-login .account-login .fieldset, body.customer-account-login .forgotpass-wrapper .fieldset, body.customer-account-create .account-create .fieldset, body.customer-account-create .account-login .fieldset, body.customer-account-create .forgotpass-wrapper .fieldset, body.customer-account-forgotpassword .account-create .fieldset, body.customer-account-forgotpassword .account-login .fieldset, body.customer-account-forgotpassword .forgotpass-wrapper .fieldset {
  margin: 0px;
  max-width: none;
}
/* line 25, ../scss/gope/_customer.scss */
body.customer-account-login .account-create .page-title h1, body.customer-account-login .account-login .page-title h1, body.customer-account-login .forgotpass-wrapper .page-title h1, body.customer-account-create .account-create .page-title h1, body.customer-account-create .account-login .page-title h1, body.customer-account-create .forgotpass-wrapper .page-title h1, body.customer-account-forgotpassword .account-create .page-title h1, body.customer-account-forgotpassword .account-login .page-title h1, body.customer-account-forgotpassword .forgotpass-wrapper .page-title h1 {
  text-align: center;
}
/* line 30, ../scss/gope/_customer.scss */
body.customer-account-login .form-list .control input.checkbox, body.customer-account-create .form-list .control input.checkbox, body.customer-account-forgotpassword .form-list .control input.checkbox {
  margin-top: 0px;
}
/* line 34, ../scss/gope/_customer.scss */
body.customer-account-login form .legend, body.customer-account-create form .legend, body.customer-account-forgotpassword form .legend {
  margin: 20px 0px;
  font-weight: bold;
}
/* line 39, ../scss/gope/_customer.scss */
body.customer-account-login .fieldset.login-info, body.customer-account-create .fieldset.login-info, body.customer-account-forgotpassword .fieldset.login-info {
  margin-top: 40px;
}
/* line 43, ../scss/gope/_customer.scss */
body.customer-account-login .buttons-set, body.customer-account-create .buttons-set, body.customer-account-forgotpassword .buttons-set {
  display: inline-block;
  width: 100%;
  margin: 30px 0px 0px;
  max-width: none;
}
/* line 49, ../scss/gope/_customer.scss */
body.customer-account-login .buttons-set button.button, body.customer-account-create .buttons-set button.button, body.customer-account-forgotpassword .buttons-set button.button {
  float: left;
  margin-left: 0px;
  width: 100%;
  padding: 15px 0px;
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 61, ../scss/gope/_customer.scss */
body.customer-account-login .newsletter-control .control label, body.customer-account-create .newsletter-control .control label, body.customer-account-forgotpassword .newsletter-control .control label {
  font-weight: bold;
}

/*----------------------------------------------------------------------------*/
/* Forgot Password
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Navigation
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - My Order Table
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Dashboard
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Customer Account Edit
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Address Book
/*----------------------------------------------------------------------------*/
/* Address Book Index */
/* Address Form */
/*----------------------------------------------------------------------------*/
/* My Account - Order History
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Order Detail
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Newsletter Subscription
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Product Review
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Product Review Detail
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Wishlist
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Share Wishlist
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* All Pages
/*----------------------------------------------------------------------------*/
/* line 32, ../scss/_local.scss */
body {
  font-family: lato;
  color: #000;
}

/* line 37, ../scss/_local.scss */
a {
  color: #000;
}
/* line 39, ../scss/_local.scss */
a:hover {
  text-decoration: none;
  color: #636363;
  opacity: 0.8;
}

/* line 46, ../scss/_local.scss */
.header-language-background {
  display: none;
}

/* line 50, ../scss/_local.scss */
.page-header-container {
  font-family: lato;
  padding-top: 15px;
  display: inline-block;
  width: 100%;
}
/* line 56, ../scss/_local.scss */
.page-header-container .logo {
  min-width: auto;
  width: 33.33%;
  height: auto;
  min-height: auto;
  max-width: none;
  display: inline-block;
  margin: 0 auto;
  float: left;
  padding: 0px;
}
/* line 67, ../scss/_local.scss */
.page-header-container .logo img {
  max-width: 90px;
  margin: 0 auto;
  float: none;
}

/* line 75, ../scss/_local.scss */
.page-header {
  display: block;
  width: 100%;
  max-width: 1200px;
}

/* line 81, ../scss/_local.scss */
#header-nav {
  width: 100%;
  display: inline-block;
  padding: 0px;
  border: 0px;
  background: #f8f8f8;
  margin-top: 15px;
}
/* line 89, ../scss/_local.scss */
#header-nav #nav {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 5px 0px;
  max-width: 1140px;
  margin: 0 auto;
}
/* line 97, ../scss/_local.scss */
#header-nav .nav-primary {
  margin: 0px;
}
/* line 100, ../scss/_local.scss */
#header-nav .nav-primary a {
  color: #000;
  font-weight: bold;
}
/* line 105, ../scss/_local.scss */
#header-nav .nav-primary li.level1 a {
  color: #000;
}
/* line 109, ../scss/_local.scss */
#header-nav .nav-primary a.level0 {
  padding: 0px 15px;
}
/* line 113, ../scss/_local.scss */
#header-nav .nav-primary li.view-all {
  display: none;
}
/* line 117, ../scss/_local.scss */
#header-nav .nav-primary li.level0 ul {
  border-radius: 5px;
  border-color: #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.175);
  padding: 0px;
}
/* line 124, ../scss/_local.scss */
#header-nav .nav-primary li.level1 a {
  border-radius: 0px;
  padding: 3px 20px;
}
/* line 128, ../scss/_local.scss */
#header-nav .nav-primary li.level1 a:hover {
  background: #f4f4f4;
}
/* line 135, ../scss/_local.scss */
#header-nav.hasScrolled {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 99;
  background: #f8f8f8;
  padding: 0px 30px;
  border-bottom: 0px;
  margin-top: 0px;
}

/* line 147, ../scss/_local.scss */
#header-search {
  width: 33.33%;
  display: inline-block;
  position: static;
  max-width: none;
  min-width: 300px;
  float: left;
  height: auto;
  border: 1px solid #000;
  margin-top: 65px;
}
/* line 158, ../scss/_local.scss */
#header-search #cat {
  width: 30%;
  height: 40px;
  border-radius: 0px;
  float: left;
  background: transparent;
  border: none;
  float: left;
}
/* line 168, ../scss/_local.scss */
#header-search #search {
  border: none;
  width: 70%;
  float: left;
  border-left: 1px solid #000;
  border-radius: 0px;
  padding-left: 10px;
}
/* line 177, ../scss/_local.scss */
#header-search #search_mini_form {
  max-width: 100%;
}
/* line 180, ../scss/_local.scss */
#header-search #search_mini_form .search-button {
  position: absolute;
  text-indent: initial;
  z-index: 1;
  color: #000;
  font-size: 18px;
  top: -2px;
  right: 5px;
}
/* line 189, ../scss/_local.scss */
#header-search #search_mini_form .search-button:before {
  display: none;
}

/* line 198, ../scss/_local.scss */
.account-cart-wrapper {
  padding: 0px;
  position: static;
  width: 33.33%;
  float: left;
  display: inline-block;
  margin-top: 20px;
}
/* line 206, ../scss/_local.scss */
.account-cart-wrapper .header-top {
  font-size: 15px;
}
/* line 210, ../scss/_local.scss */
.account-cart-wrapper .header-links {
  text-align: right;
}
/* line 214, ../scss/_local.scss */
.account-cart-wrapper .fa {
  margin-right: 5px;
  font-size: 18px;
}
/* line 219, ../scss/_local.scss */
.account-cart-wrapper .header-minicart {
  position: relative;
  float: right;
}
/* line 223, ../scss/_local.scss */
.account-cart-wrapper .header-minicart #shopping-menu {
  font-size: 16px;
  width: 250px;
  border: 1px solid #000;
  padding: 7px 10px;
  margin-top: 25px;
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
}
/* line 234, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .block-cart {
  position: absolute;
  z-index: 3;
  background: #fff;
  border: 1px solid #000;
  margin-top: -1px;
  width: 400px;
  right: 0px;
}
/* line 244, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .shopping-arrow, .account-cart-wrapper .header-minicart .shopping-arrow-down {
  position: absolute;
  right: 8px;
  top: 7px;
}
/* line 250, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .shopping-arrow-down {
  display: none;
  z-index: 1;
}
/* line 255, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper {
  padding: 0px;
}
/* line 258, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .mini-products-list {
  padding: 0px;
}
/* line 261, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .mini-products-list li {
  padding: 20px 15px;
}
/* line 265, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .mini-products-list .product-details .product-name a {
  color: #000;
  font-size: 13px;
}
/* line 271, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .mini-products-list .info-wrapper th {
  text-transform: capitalize;
  font-size: 13px;
  color: #000;
}
/* line 277, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .mini-products-list .info-wrapper .price {
  color: #dc012f;
}
/* line 283, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .subtotal {
  background-color: #000;
  text-align: center;
  line-height: 2em;
  padding: 10px 0px;
  margin-bottom: 0px;
  font-size: 16px;
}
/* line 291, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .subtotal .label {
  margin-right: 5px;
  text-transform: capitalize;
}
/* line 296, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .subtotal .price {
  color: #fff;
  margin-left: 5px;
  font-weight: bold;
}
/* line 303, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .minicart-actions {
  padding: 0px;
}
/* line 306, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .minicart-actions .checkout-types.minicart {
  width: 50%;
  display: inline-block;
  float: left;
}
/* line 311, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .minicart-actions .checkout-types.minicart li {
  width: 100%;
  margin: 0px;
}
/* line 317, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .minicart-actions .checkout-button {
  min-width: auto;
  width: 100%;
  padding: 10px;
  border: 1px solid #dc012f;
  line-height: normal;
}
/* line 325, ../scss/_local.scss */
.account-cart-wrapper .header-minicart .minicart-wrapper .minicart-actions .cart-link {
  width: 50%;
  border: 1px solid #000;
  display: inline-block;
  margin: 0px;
  padding: 10px;
  height: auto;
  line-height: normal;
  font-size: 15px;
  text-transform: capitalize;
}

/* line 341, ../scss/_local.scss */
body .main-container {
  padding: 30px;
  max-width: 1200px;
  display: block;
  margin-bottom: 50px;
}

/* line 349, ../scss/_local.scss */
.footer-container {
  width: 100%;
  padding: 0px;
  background: #282b2a;
  margin: 0px;
  max-width: none;
}
/* line 356, ../scss/_local.scss */
.footer-container .footer {
  padding-top: 0px;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 361, ../scss/_local.scss */
.footer-container .footer address {
  font-size: 12px;
  color: #000;
  padding: 15px;
  border-top: 1px solid #000;
  margin-top: 0px;
}
/* line 370, ../scss/_local.scss */
.footer-container .footer-contents {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  text-align: left;
}
/* line 377, ../scss/_local.scss */
.footer-container .footer-contents .footer-content {
  width: 20%;
  float: left;
  display: inline-block;
  text-align: left;
}
/* line 383, ../scss/_local.scss */
.footer-container .footer-contents .footer-content:first-child {
  width: 35%;
  margin-right: 5%;
  padding-right: 20px;
}
/* line 389, ../scss/_local.scss */
.footer-container .footer-contents .footer-content li {
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  color: #fff;
}
/* line 396, ../scss/_local.scss */
.footer-container .footer-contents .footer-content li a {
  color: #fff;
}
/* line 400, ../scss/_local.scss */
.footer-container .footer-contents .footer-content li.top {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}
/* line 406, ../scss/_local.scss */
.footer-container .footer-contents .footer-content.media-sosial span {
  font-size: 15px;
}
/* line 410, ../scss/_local.scss */
.footer-container .footer-contents .footer-content.media-sosial span .fa {
  margin-right: 5px;
  font-size: 18px;
}
/* line 417, ../scss/_local.scss */
.footer-container address {
  width: 100%;
  text-align: center;
  display: inline-block;
  color: #000;
  background: #fff;
  padding: 10px;
}

/*----------------------------------------------------------------------------*/
/* Theme Structure Page
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Theme Structure 1column
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Theme Structure 2columns-left
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Theme Structure 2columns-right
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Theme Structure 3columns
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Home
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Header
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Home: Banner
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Breadcrumbs
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Price Box
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Category/Search Page
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Toolbar
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Product: Upsell (Also Bought)
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Product: Related
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* footer
/*----------------------------------------------------------------------------*/
