Dear <b>{{var customer_name}}</b>


Terima kasih Anda sudah berbelanja di Vancelebes.com.


Pesanan Anda dengan nomor Order # {{var order_id}} sudah berhasil tercatat dan kami menunggu pembayaran Anda. Silakan Anda melakukan pembayaran dengan cara transfer (via ATM atau internet banking) ke salah satu rekening kami berikut ini :


{{var bank_transfer}}


Pembayaran Anda kami tunggu selama 1 x 24 jam dan melakukan konfirmasi pembayaran pada tautan <a href="{{store url="sales/order/history/"}}">ini</a>. Bila dalam waktu 1 x 24 jam kami belum menerima pembayaran Anda, maka pesanan Anda akan secara otomatis akan dibatalkan.


Demikian kami informasikan. Terima kasih atas perhatian yang diberikan.
