/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Login Page, and register, forgotpass
/*----------------------------------------------------------------------------*/

body.customer-account-login, body.customer-account-create, body.customer-account-forgotpassword {

	input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text] {
		width: 100%;
	}

	.account-create, .account-login, .forgotpass-wrapper {
		width: 600px;
		max-width: 100%;
		margin: 0 auto;

		.fieldset {
			margin: 0px;
			max-width: none;
		}

		.page-title h1 {
			text-align: center;
		}
	}

	.form-list .control input.checkbox {
		margin-top: 0px;
	}

	form .legend {
		margin: 20px 0px;
    	font-weight: bold;
	}

	.fieldset.login-info {
		margin-top: 40px;
	}

	.buttons-set {
	  display: inline-block;
	  width: 100%;
	  margin: 30px 0px 0px;
	  max-width: none;

	  button.button {
	    float: left;
	    margin-left: 0px;
	    width: 100%;
	    padding: 15px 0px;
	    margin-top: 10px;
	    font-size: 20px;
	    text-transform: uppercase;
	    font-weight: bold;
	  }
	}

	.newsletter-control .control label {
		font-weight: bold;
	}
}

/*----------------------------------------------------------------------------*/
/* Forgot Password
/*----------------------------------------------------------------------------*/
 
body.customer-account-forgotpassword .main {

}

/*----------------------------------------------------------------------------*/
/* My Account - Navigation
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* My Account - My Order Table
/*----------------------------------------------------------------------------*/

#my-orders-table,
body.sales-order-view .main .data-table,
body.sales-order-invoice .main .data-table,
body.sales-order-shipment .main .data-table,
body.sales-order-creditmemo .main .data-table {
	
}

/*----------------------------------------------------------------------------*/
/* My Account - Dashboard
/*----------------------------------------------------------------------------*/

.dashboard {

}

/*----------------------------------------------------------------------------*/
/* My Account - Customer Account Edit
/*----------------------------------------------------------------------------*/

body.customer-account-edit .main {

}

/*----------------------------------------------------------------------------*/
/* My Account - Address Book
/*----------------------------------------------------------------------------*/

/* Address Book Index */

body.customer-address-index .main {

}

/* Address Form */

body.customer-address-form .main {

}

/*----------------------------------------------------------------------------*/
/* My Account - Order History
/*----------------------------------------------------------------------------*/

body.sales-order-history .main {

}

/*----------------------------------------------------------------------------*/
/* My Account - Order Detail
/*----------------------------------------------------------------------------*/

body.sales-order-view .main,
body.sales-order-invoice .main,
body.sales-order-shipment .main,
body.sales-order-creditmemo .main {
	
}

/*----------------------------------------------------------------------------*/
/* My Account - Newsletter Subscription
/*----------------------------------------------------------------------------*/

body.newsletter-manage-index .main {

}

/*----------------------------------------------------------------------------*/
/* My Account - Product Review
/*----------------------------------------------------------------------------*/

body.review-customer-index .main {
	
}

/*----------------------------------------------------------------------------*/
/* My Account - Product Review Detail
/*----------------------------------------------------------------------------*/

body.review-customer-view .main .product-review {
	
}

/*----------------------------------------------------------------------------*/
/* My Account - Wishlist
/*----------------------------------------------------------------------------*/

#wishlist-table {

}

/*----------------------------------------------------------------------------*/
/* My Account - Share Wishlist
/*----------------------------------------------------------------------------*/

body.wishlist-index-share {
	
}